.ue-container{
    width: 100%;
    height: 100%;
}

.background-ue-prof {
    background-color: #C3D9FF;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chapters-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;


}

.container-home-prof-ue{
    background-color: #133D56;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: center;
}

.container-chap-chap-ue-prof{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    overflow-y: auto;
    flex-direction: row;
    justify-content: space-around;
    
}

.container-chap-ue-prof{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: 10px;
}

.link-style {
    text-decoration: underline;
    cursor: pointer;
}


.buttons-container-ue{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-evenly;
    background-color: #093146;
    height: 200px
}

.chapter{
    display: flex;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    padding: 5px 20px;
    margin: 10px 0px;
    transition: 0.4s;
    width: 40%;
}

.chapter h2 {
    color: #333;
}

.chapter:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3) ;
}

.chapter p {
    color: #666;
}

.chapter-selected{
    display: flex;
    border-radius: 10px;
    background-color: #C3D9FF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3) ;
    padding: 5px 20px;
    margin: 10px 0px;
    transition: 0.4s;
    width: 40%;
}

.chapter-title{
    text-align: center;
    width: 100%;
}