.ue-container{
    width: 100%;
    height: 100%;
}

.chapters-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;


}

.buttons-container-ue{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-evenly;
    background-color: #093146;
    height: 200px
}

.chapter{
    display: flex;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    padding: 5px 20px;
    margin: 10px 0px;
    transition: 0.4s;
    width: 40%;
}

.chapter:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3) ;

}

.chapter-selected{
    display: flex;
    border-radius: 10px;
    background-color: #C3D9FF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3) ;
    padding: 5px 20px;
    margin: 10px 0px;
    transition: 0.4s;
    width: 40%;
}

.chapter-title{
    text-align: center;
    width: 100%;
}