.background-forum{
    background-color: white;
    height: 100vh;

}

.forum-container{
    margin-top: 225px;
}

.forum-question{
    display: flex;
    flex-direction: column;
    padding: 0px 3vw;
}

.question{
    background-color: #133D56;
    border-radius: 50px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-button{
    font-size: 2vw;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    width: 10vw;
}