
.style_background{
    background-color: #C3D9FF;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    align-items: center;
}

.container1_style{
    display: flex;
    align-items: center;
    margin-top: 125px;
    padding: 1%;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    background-color: #F5F5F5;
    flex-direction: column;
    justify-content: center;
}

.button-principale{
    width: 40%;
    font-size: 40px;
    height: 13%;
    border-radius: 50px;
    background-color: #133D56;
    color: #F5F5F5;
}
