.background-presentation {
    background-color: #C3D9FF;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.presentation-title {
    position: relative;
    top: 150px;
}