    
    .quizz-background{
        height: 100vh;
    }

.background-create-quizz {
    background-color: #C3D9FF;
    position: relative;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#title-input {
    color: black;
    background-color: #F5F5F5;
    height: 50px;
    border-radius: 0px;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    width: inherit;
}

.container-create-quizz {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 125px;
    margin-bottom: 125px;
    height: -webkit-fill-available;
}

.answer-container {
    background-color: #133D56;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 65%;
    max-width: 1000px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.button-question:hover > * {
    color: black;
}

.icon-add:hover > * {
    fill: black !important;
}


@media (max-width: 600px) {
    #title-input {
        font-size: x-large;
        padding: 0px;

    }

    .background-create-quizz {
        background-color: #C3D9FF;
        position: relative;
        width: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .quizz-background{
        height: 130vh;
    }
}