.background-create-quizz {
    background-color: #C3D9FF;
    position: relative;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.nav-question {
    background-color: #133D56;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 240px;
}

#title-input {
    color: black;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 0px;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    width: inherit;
    font-family: "Nanum Pen Script";
}

.container-create-quizz {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 125px;
    margin-bottom: 125px;
    height: -webkit-fill-available;
}

.answer-container {
    background-color: #133D56;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    max-width: 700px;
    border-radius: 20px;
    align-items: center;
}

.button-question {
    color: white;
}

.button-question:hover {
    color: black;
}