.base-container_quizz_question {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    display: flex;
    flex-flow : column;
    align-items: center;
    width: 86vw;
    min-height: 70vh;
    justify-content: start;
    padding: 0.5%;
    margin-top: 7.5%;
    overflow: hidden;
}

.question-container {
  display: flex;
  width: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #133D56;
  color: white;
}

.reponse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.reponse {
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border : none;
  background-color: white;
  color: black;
}

.reponse.selected {
    background-color: #6998ea; 
    color: white;
}

.reponse:hover {
    cursor: pointer;
}


.button-container {
  display: flex;
  width: 700px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.btn_retour, .btn_valider {
  width: 250px;
  height: 75px;
  border-radius: 50px;
  margin-bottom: 20px;
  border : none;
  background-color: #133D56;
  color: white;
}


.btn_retour {
    background-color: #C3D9FF;
    color: black;
}

.btn_valider:hover {
    background-color: #C3D9FF;
    color: black;
}

.btn_retour:hover {
    background-color: #133D56;
    color: white;
}

.Question_titre{
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 5px;
}

.indication {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 0;
}