.background-question {
  background-color: #C3D9FF;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.base_container_quizz_question {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    display: flex;
    flex-flow : column;
    align-items: center;
    width: 86vw;
    min-height: 60vh;
    max-height: 100vh;
    justify-content: start;
    margin-top: 150px;
    padding: 0.5%;
}

.question-quest-container {
  display: flex;
  width: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px;
  background-color: #133D56;
  color: white;
}

.reponse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.quizz-title {
    margin : 0.5%;
    font-size: 60px;
    font-weight: lighter;
}

.reponse {
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border : none;
  background-color: white;
  color: black;
  font-size: 2vw;
}

.reponse.selected {
    background-color: #6998ea; 
    color: white;
}

.reponse:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
}

.reponse-stat {
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border : none;
  background-color: white;
  color: black;
  font-size: 2vw;
}

.user-correct{
  background-color: #4CAF50;
  color: white;

}

.user-wrong{
  background-color: #f44336;
  color: white;
}

.button-container {
  display: flex;
  width: 700px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.btn_retour, .btn_valider {
  width: 250px;
  height: 75px;
  border-radius: 50px;
  margin: 0.5%;
  margin-top: 1%;
  border : none;
  background-color: #133D56;
  color: white;
}


.btn_retour {
    background-color: #C3D9FF;
    color: black;
}

.btn_valider:hover, .btn_retour:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
}



.Question_titre{
  font-size: 2.5vw;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 5px;
}

.indication {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}

