.background-question-list{
    background-color: #C3D9FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-list-container{
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86vw;
    height: 70vh;
    justify-content: flex-start;
    padding: 1%;
    margin-top: 150px;
}

.question-container{
    display: flex;
    color: #f5f5f5;
    border-radius: 10px;
    background-color: #133D56;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    padding: 20px 20px;
    margin: 20px 0px;
    transition: 0.4s;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.questions-list-subcontainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.question-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #f5f5f5;
    margin: 0;
}

.question-list-title{
    font-size: 4em;
    border-bottom: solid 4px;
    align-self: flex-start;
    position: relative;
    width: 90%;
    margin: 0px 5% !important;
    justify-self: initial;
}