* {
    /*box-sizing: border-box;*/
    font-family: "Shadows Into Light";
  }

.head{
    background-color: #F5F5F5;
    height: 125px;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 5px 10px;
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 6px 10px 5px #00000054;
    z-index: 1;
}

.pp{
  border-radius: 50%;
  margin-right: 20px;
}

.menu, .logo, .pp{
  width : auto;
  height : 90%;
}


.Nom{
  font-size: 80px;
  margin : 10px;
}


@media (max-width: 768px) {
  .menu, .logo, .pp{
    width : auto;
    height : 80%;
  }

  .Nom {
    font-size: 60px; 
    margin: 5px; 
  }
}

@media (max-width: 576px) {

  .menu, .logo, .pp{
    width : auto;
    height : 70%;
  }


  .Nom {
    font-size: 40px; 
    margin: 5px; 
  }
}




  
