* {
    box-sizing: border-box;
    font-family: "Nanum Pen Script";
  }

.head{
    background-color: #F5F5F5;
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 5px 10px;
    position: absolute;
    top: 0px;
}


.menu, .logo, .pp{
  width : auto;
  height : 90%;
}


.Nom{
  font-size: 80px;
  margin : 10px;
}


@media (max-width: 768px) {
  .menu, .logo, .pp{
    width : auto;
    height : 80%;
  }

  .Nom {
    font-size: 60px; 
    margin: 5px; 
  }
}

@media (max-width: 576px) {

  .menu, .logo, .pp{
    width : auto;
    height : 70%;
  }


  .Nom {
    font-size: 40px; 
    margin: 5px; 
  }
}




  
