.base-container {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86vw;
    height: 64vh;
    justify-content: space-evenly;
}

.sub-container {
    background-color: #133D56;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 58.39%;
    height: 62%;
    justify-content: space-evenly;
    align-items: center;
}

.background{
    background-color: #C3D9FF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 57%;
    border-radius: 20px;
    height: 16%;
    padding: 0px 10px;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    width: 43%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.valid-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
  }

.valid-button {
    background-color: #133D56;
}

.reg-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
}

.reg-button{
    background-color: #C3D9FF;
}

.buttons-container {
    display: flex;
    width: 58.39%;
    justify-content: space-between;
}