.base-container {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86vw;
    height: 70vh;
    justify-content: space-evenly;
    padding: 1%;
    margin-top: 7.5%;
}

.background{
    background-color: #C3D9FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1250px) {   
    
    .sub-container {
        background-color: #133D56;
        color: rgba(0, 0, 0, 0.87);
        -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 20px;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 58.39%;
        height: 62%;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
    }
     
    input {
        width: 57%;
        border-radius: 20px;
        height: 16%;
        padding: 0px 10px;
        font-size: 3vw;
    }
    
    .button-connection {
        font-family: 'Nanum Pen Script';
        font-size: 3vw;
        border: none;
        color: white;
        padding: 15px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50px;
        width: 43%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition-duration: 0.4s;
    }
    
    .valid-button {
        background-color: #133D56;
    }

    .valid-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
      }
    
      .reg-button{
        background-color: #C3D9FF;
        color: black;
    }

    .reg-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
    }
    
    .buttons-container {
        display: flex;
        width: 58.39%;
        justify-content: space-between;
    }
}

@media (max-width: 1249px) {
    .base-container {
        background-color: #f5f5f5;
        color: rgba(0, 0, 0, 0.87);
        -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 20px;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 86vw;
        height: 64vh;
        justify-content: space-evenly;
        margin-top: 5%;
    }
    
    .sub-container {
        background-color: #133D56;
        color: rgba(0, 0, 0, 0.87);
        -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 20px;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 58.39%;
        height: 62%;
        justify-content: space-evenly;
        align-items: center;
    }
    

    input {
        width: 57%;
        border-radius: 20px;
        height: 16%;
        padding: 0px 10px;
        font-size: 4vw;
    }
    
    button {
        border: none;
        color: white;
        padding: 15px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4vw;
        border-radius: 50px;
        width: 43%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition-duration: 0.4s;
    }
    
    .valid-button {
        background-color: #133D56;
    }

    .valid-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
      }
    
      .reg-button{
        background-color: #C3D9FF;
        color: black;
    }

    .reg-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3); 
    }
    

    
    .buttons-container {
        display: flex;
        width: 58.39%;
        padding: 1% 5%;
        justify-content: space-between;
        align-items: center;
    }
}