.container2_style{
    display: flex;
    align-items: center;
    margin-top: 125px;
    padding: 1%;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    background-color: #F5F5F5;
    flex-direction: column;
    justify-content: space-evenly;
}

.style_background_esp_ele{
    background-color: #C3D9FF;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sub_container_ue {
    width: 50%;
    height: 100%;
}


@media (max-width: 600px) {
    .container2_style{
        height: 90%;
        margin-top: 200px;
        overflow: auto;
    }

    .style_background_esp_ele {
        overflow: auto;
    }

    .sub_container_ue_j {
        flex-direction: column;
    }

    .sub_container_ue {
        width: 100%;
    }
}
