@media (max-width: 1199px) {
    .style-background-profile {
        background-color: #C3D9FF;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
    }
    
    .user-container {
        margin-top: 115px;
        position: relative;
    }

    .pp-change-profile {
        height: 80px;
    }

    .change-profile {
        position: relative;
        display: flex;
        align-items: center;
    }

    .div-formation {
        display: flex;
    }
    
    .formation-text {
        font-size: 2em;
    }

    .pp-change-profile{
        border-radius: 50%;
        height: 110px;
        width: 110px;
        margin-right: 20px;
    }

    .profile-select{
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .style-background-profile {
        background-color: #C3D9FF;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    
    
    .user-container {
        top: 150px;
        position: absolute;
        left: 50px;
    }
    
    .div-formation {
        display: flex;
    }
    
    .formation-text {
        font-size: 2em;
    }

    .change-profile{
        position: absolute;
        display: flex;
        align-items: center;
        top: 200px;
        right: 10%;
    }

    
    .pp-change-profile{
        border-radius: 50%;
        height: 110px;
        margin-right: 20px;
        width: 110px;
    }
    
}

