.background-forum {
    background-color: white;
    height: 100%;

}

.forum-container {
    margin-top: 125px;
}

.forum-question {
    display: flex;
    flex-direction: column;
    padding: 0px 3vw;
    margin-bottom: 25px;
}


.question {

    border-radius: 25px;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue {
    background-color: #133D56;
    color: white;
}

.grey {
    background-color: #d9d9d9;
    color: black;
}

.answer-button {
    font-size: 2vw;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    width: 10vw;
}

.title-container {
    margin: 2vh 2vw;
    border-bottom: 4px solid #d9d9d9;
}

.forum-title {
    font-size: 3em;
}

.title-date {
    font-size: 2em;
}

.who-when {
    font-size: 1.3em;
}

.question-text {
    font-size: 1.5em;
    margin-left: 20px;
}

.question-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2vw;
    height: 40px;
}

.button-container-hide {
    display: none !important;
}

.button-container-show {
    flex-direction: row;
}

.reaction-button {
    border-radius: 5px;
    background-color: #C3D9FF;
    border: none;
    width: 45px;
    height: 100%;
}

.reaction-button:hover {
    background-color: #a8c2ef;
}

.input-forum {
    width: 80%;
    height: 4rem;
    font-size: 1.5em;
    border-radius: 50px;
    border: 4px solid;
    bottom: 20px;
    left: 10%;
    padding-left: 50px;
}

.comment-footer {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -3px 12px 6px #0000003d;
}




@media (max-width: 600px) {
    .forum-title {
        font-size: 2em;
    }

    .who-when {
        font-size: 1em;
    }

    .question-text {
        font-size: 1em;
    }

    .input-forum {
        font-size: 1em;
    }
    
}




.create-forum-container{
    width: 99vw; 
    height: auto;
    padding-top: 120px;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
}

.create-forum-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-forum-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #133D56;
    border-radius: 20px;
    width: 75dvw;
    height: 60dvh;
    padding: 20px;
}

.form-control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}


.form-input{
    width: 80%;
    border-radius: 20px;
    font-size: 1.5em ;
    padding: 5px;
    border: 1px solid #ccc;
    
}

.form-textarea{
    width: 80%;
    border-radius: 20px;
    font-size: 1.5em ;
    padding: 5px;
    border: 1px solid #ccc;
    resize: none;
    height: 100px;
}

@media (max-width: 768px) {
    .form-input, .form-textarea{
        font-size: 1em;
    }
}

