.container-carte-mentale {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}


.container-create-cm, .container_voir_cm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.titre-carte-mentale {
  font-size: 1em;
  font-weight: bold;
  margin-top: 125px;
}

.container-grey-carte-mentale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #F5F5F5;
  width: 80%;
  height: 55%;
  border-radius: 20px;
    position: relative;
}

.container-left-carte-mentale, .container-right-carte-mentale {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width : 50%;
    height : 100%;
}

.container-create-cm-left{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    width: 20%;
    height: 100%;
}

.verticalBarStyle {
    position: absolute;
    height: 90%;
    margin-top : 20px;
    width: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}


.container-element-carte-mentale {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 20px;
      width: 100%;
      height: 60%;
      justify-content: space-evenly;
}


.element-carte-mentale {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}
.element-carte-mentale img {
  width: 100%;
  
}

.element-carte-mentale p {
  margin : 5px;
}


.container-edit-title, .container-voir-cm-image {
  height: 100%;
  width: 80%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.container-voir-cm-image{
  justify-content: center;
  
}

.reactflow-container {
  height: 70%;
  width: 70%;
  background-color: #ffffff;
}

.container-voir-cm-boutons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 70%;
  margin-top : 100px;
}


@media (max-width: 600px) {
  .button-voir-cm{
    font-size: 0.7em;
  }
}


