.container-carte-mentale, .container-create-cm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.titre-carte-mentale {
  font-size: 1em;
  font-weight: bold;
  margin-top: 125px;
}

.container-grey-carte-mentale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #F5F5F5;
  width: 80%;
  height: 55%;
  border-radius: 20px;
    position: relative;
}

.container-left-carte-mentale, .container-right-carte-mentale {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width : 50%;
    height : 100%;
}

.verticalBarStyle {
    position: absolute;
    height: 90%;
    margin-top : 20px;
    width: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}


.container-element-carte-mentale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.element-carte-mentale img {
  height: 150px;
}

