h1 {
    font-size: 5em;
}

p {
    font-size: 2.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.background-study {
    background-color: #C3D9FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
}

.text-part {
    padding: 0vw 3vw 5vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 125px;
    border-bottom: 2vh solid #d9d9d9;
}

.question-part{
    flex: 1;
    background-color: white;
}

li{
    color: black;
    font-size: 2.5em;
    border-bottom: 4px solid #d9d9d9; 
    padding: 15px 30px;
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
}