.style_background{
    background-color: #C3D9FF;
    width: 100%;
    height: 947px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container1_style{
    align-items: center;
    margin-top: 8%;
    padding: 1%;
    width: 80%;
    height: 65%;
    border-radius: 20px;
    background-color: #F5F5F5;
}

.disconnect_style{
    color: rgb(167, 5, 5);
}